.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  transition: .3s;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header-top {
  background-color: #272727;
}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  font-size: 14px;
  color: #cccaca;
  line-height: 40px;
  padding-left: 35px;
  text-decoration: none;
}

.contacts__item:hover:not(:first-child) {
  color: #ffffff;
}

.contacts__item-phone {
  background: url('../img/phone-icon.png') no-repeat 0% 48%;
  background-size: 8%;
  font-size: 13px;
}

.contacts__item-mail {
  background: url('../img/mail-icon.png') no-repeat 0% 50%;
  background-size: 14%;
}

.contacts__item-insta {
  background: url('../img/insta-icon.png') no-repeat 0% 50%;
  background-size: 15%;
}

.nav {
  text-transform: uppercase;
  font-weight: bold;
}

.nav__logo {
  float: left;
  color: #ec4040;
  line-height: 93px;
  font-size: 32px;
}

.nav__link-section {
  float: left;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-left: 115px;
  line-height: 93px;
  font-size: 13px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.nav__link-active,
.nav__link:hover {
  color: #ec4040;
}

.main__preview {
  background-color: #272727;
}

.main__company-info {
  display: flex;
  justify-content: space-between;
}

.main__info-section {
  padding-top: 90px;
}

.main__image-section {
  background: url('../img/lady.png') no-repeat;
  background-size: cover;
  height: 500px;
  width: 340px;
  margin: 40px 0;
}

.main__company-name {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.main__signature {
  margin-top: 5px;
  margin-left: 45px;
  text-transform: uppercase;
  color: #ffffff;
}

.main__paragraph {
  color: #ffffff;
  margin-top: 90px;
  font-size: 24px;
}

.main__discount-text {
  margin-top: 80px;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 24px;
  padding-left: 65px;
  color: #ffffff;
  position: relative;
}

.main__discount-text::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: url('../img/discount-icon.png') no-repeat;
  background-size: contain;
  height: 60px;
  width: 81px;
}

.categories__title {
  margin: 65px 0;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
}

.categories__title::before {
  position: relative;
  display: table;
  transform: translate(455px, 60px);
  content: '';
  width: 89px;
  height: 2px;
  background-color: #cc0000;
}

.categories__title::after {
  position: relative;
  display: table;
  transform: translate(470px, -5px);
  content: '';
  width: 55px;
  height: 2px;
  background-color: #cc0000;
}

.goods-preview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.goods-preview__item {
  text-decoration: none;
  margin-bottom: 20px;
  margin-right: 40px;
}

.goods-preview__product-name {
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: #000000;
  margin-bottom: 35px;
}

.goods-preview__product-bg:hover {
  box-shadow: 0 10px 25px 0 #000000;
}

.goods-preview__product-image {
  margin-top: 21px;
  margin-left: 32px;
}

.goods-preview__image {
  background: url('../img/preview-photo-section.png') no-repeat center;
  height: 220px;
  width: 220px;
  background-size: contain;
}

.goods-preview_size_small {
  width: 60%;
  padding-top: 70px;
}

.footer {
  background-color: #272727;
  padding: 50px 0;
}

.company-info {
  display: flex;
  justify-content: space-between;
}

.company-info__title {
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.company-info__paragraph {
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  margin-top: 25px;
}

.contacts__footer-contacts {
  border-top: 1px solid #ffffff;
  padding: 10px 20px;
  margin-top: 10px;
}

.contacts_disposition_middle {
  margin-right: 40px;
}

.categories__map {
  background: url('../img/map.jpg') no-repeat center;
  height: 288px;
  width: 542px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 90px;
  border: 5px solid #ec4040;
  border-radius: 20px;
}

.iframe-map {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show {
  display: block !important;
}

.main__container {
  margin: 0 auto;
  width: 1200px;
}

.main__section {
  display: flex;
  justify-content: space-between;
}

.options__item {
  margin: 60px 0;
  width: 158px;
}

.options__title {
  text-transform: uppercase;
  font-size: 14px;
}

.options__text {
  display: table;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
}

.options__text:hover {
  color: #ec4343;
}

.goods__item {
  display: inline-block;
  margin-bottom: 40px;
}

.goods__item:hover {
  box-shadow: 0 10px 40px -5px #000000;
}

.goods__item:not(:nth-child(4)),
.goods__item:not(:nth-child(8)),
.goods__item:not(:nth-child(12)) {
  margin-right: 39px;
}

.goods__image {
  display: block;
}

.goods__indent {
  margin: 36px 0 90px 90px;
}

.goods__description {
  line-height: 30px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}