.tm2-menu {
	margin: 26px 0 0 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.tm2-menu li:first-child {
	margin-left: 0;
}
.tm2-menu li {
	margin-left: 25px;
	display: inline-block;
	float: left;
	font-family: 'FedraSansPro-Normal';
	font-size: 16px;
}
.tm2-menu li a {
	color: #000000 !important;
	text-decoration: none !important;
}
.tm2-menu li a:hover {
	opacity: 0.8;
}


