.bx_basket_block {
	margin-top: 68px;
}
.bx_basket_block a {
	color: #000000 !important;
	font-family: 'FedraSansPro-Normal';
	font-size: 16px;
	text-decoration: none !important;
	display: inline-block;
}
.bx_basket_block a:hover {
	opacity: 0.8;
}
.bx_basket_block a i {
	font-size: 24px;
	color: #512921 !important;
}
.col_prop_top_cart {
	display: inline-block;
	background-color: #502a21;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	color: #ffffff;
	line-height: 34px;
	text-align: center;
	margin-left: 15px;
}
.col_prop_top_cart > span {
	display: inline-block;
	position: relative;
	top: -2px;
}